<?xml version="1.0" encoding="utf-8"?>
<!-- security/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    
    <application>
        <activity
            android:name=".ui.activity.SecurityActivity"
            android:theme="@style/Theme.ProPDFEditor"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|smallestScreenSize" />
    </application>

</manifest>
